* {
  box-sizing: border-box; }

html {
  height: 100%;
  min-width: 432px; }

body {
  height: 100%;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ebeced; }

@media (max-width: 879px) {
  .is-hidden-small {
    display: none !important; } }

@media (min-width: 880px) {
  .is-visible-small {
    display: none !important; } }

#brand-header {
  background: linear-gradient(90deg, #00c4cc, #7d2ae8);
  height: 56px;
  padding: 8px;
  z-index: 40; }
  #brand-header .header-left {
    float: left; }
  #brand-header .header-right {
    float: right;
    font-weight: 600; }
  #brand-header .logo {
    display: inline-block;
    vertical-align: middle;
    padding: 0 16px; }
  #brand-header .button {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    line-height: 1.7142857143;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 0 4px;
    color: white;
    transition: background-color 0.1s linear; }
    #brand-header .button:hover, #brand-header .button:focus, #brand-header .button:active {
      background-color: rgba(14, 19, 24, 0.3); }
    #brand-header .button.disabled {
      background: none;
      cursor: default;
      color: rgba(255, 255, 255, 0.4); }
    #brand-header .button.icon {
      padding: 8px; }
    #brand-header .button.shadow {
      background-color: rgba(14, 19, 24, 0.15);
      color: white; }
    #brand-header .button.white {
      background-color: rgba(255, 255, 255, 0.95);
      color: #0e1318; }
  #brand-header input {
    height: 40px;
    vertical-align: middle;
    text-align: right;
    line-height: 1.7142857143;
    padding: 6px 14px;
    width: auto;
    border-radius: 4px;
    border: 1px solid transparent;
    color: white;
    background: transparent; }
    #brand-header input::placeholder {
      color: rgba(255, 255, 255, 0.4); }
    #brand-header input:hover, #brand-header input:active, #brand-header input:focus {
      border-color: rgba(255, 255, 255, 0.4);
      outline: none; }

#workspace {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center; }

#tray {
  background-color: #293039;
  color: white;
  height: 100%;
  width: 432px;
  position: relative;
  z-index: 30;
  flex: 0 0 432px; }
  #tray .tray-nav {
    width: 72px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #tray .tray-nav .tray-link {
      background-color: #0e1318;
      text-decoration: none;
      color: white;
      text-align: center;
      width: 72px;
      height: 72px;
      padding: 16px 4px;
      display: block;
      opacity: 0.65;
      transition: opacity 0.15s ease-in-out; }
      #tray .tray-nav .tray-link:hover {
        cursor: default; }
      #tray .tray-nav .tray-link .tray-link-text {
        font-size: 10px;
        display: block;
        margin-top: 8px; }
      #tray .tray-nav .tray-link:nth-child(1) {
        background-color: #293039;
        opacity: 1; }
      #tray .tray-nav .tray-link:nth-child(2) {
        border-top-right-radius: 8px; }
    #tray .tray-nav .tray-nav-filler {
      flex: 1;
      background-color: #0e1318; }
  #tray .tray-images {
    width: 360px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 72px;
    padding: 0 24px;
    display: flex;
    flex-direction: column; }
    #tray .tray-images .search {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M15.2 16.34a7.5 7.5 0 1 1 1.38-1.45l4.2 4.2a1 1 0 1 1-1.42 1.41l-4.16-4.16zm-4.7.16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z'/%3E%3C/svg%3E");
      background-position: left 8px center;
      background-repeat: no-repeat;
      height: 40px;
      flex: 0 0 40px;
      line-height: 1.7142857143;
      padding: 8px 16px 8px 40px;
      border-radius: 4px;
      margin: 16px 0;
      width: 312px;
      border: 0;
      outline: none; }
    #tray .tray-images .images-container {
      flex: 1 1 auto;
      width: 324px;
      height: 100%;
      user-select: none;
      margin: -6px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start; }
      #tray .tray-images .images-container img {
        height: 93px;
        margin: 4px; }
        #tray .tray-images .images-container img:nth-child(3), #tray .tray-images .images-container img:nth-child(4), #tray .tray-images .images-container img:nth-child(5) {
          height: 97px; }
        #tray .tray-images .images-container img:hover {
          cursor: grab; }
        #tray .tray-images .images-container img:active, #tray .tray-images .images-container img:focus {
          cursor: grabbing; }

#editor {
  flex: 1 1 auto;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #editor .toolbar {
    flex: 0 0 32px;
    height: 48px;
    padding: 8px;
    background: white;
    box-shadow: 0 1px 0 rgba(14, 19, 24, 0.15);
    z-index: 20; }
    #editor .toolbar .button {
      font-weight: 600;
      display: inline-block;
      padding: 5px 7px;
      height: 30px;
      line-height: 1.4285714286; }
  #editor .collage-container {
    flex: 1;
    overflow: scroll;
    width: auto; }
    #editor .collage-container #collage {
      width: 25cm;
      height: 20cm;
      background-color: white;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 0 0 1px 0 rgba(14, 19, 24, 0.07);
      overflow: hidden;
      margin: auto; }
      #editor .collage-container #collage h1 {
        text-align: center;
        font-weight: 600;
        color: rgba(14, 19, 24, 0.07);
        margin: 20px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    #editor .collage-container .float-menu {
      position: absolute;
      bottom: 20px;
      right: 20px;
      font-weight: 600;
      white-space: nowrap; }
      #editor .collage-container .float-menu .canvas-size-button {
        display: inline-block;
        margin: 0 8px;
        padding: 8px 16px;
        border-radius: 16px;
        color: #0e1318;
        background-color: #ebeced;
        box-shadow: 0 0 0 1px rgba(14, 19, 24, 0.07); }
        #editor .collage-container .float-menu .canvas-size-button:hover, #editor .collage-container .float-menu .canvas-size-button:active, #editor .collage-container .float-menu .canvas-size-button:focus {
          background-color: rgba(14, 19, 24, 0.07);
          cursor: pointer; }
      #editor .collage-container .float-menu .help-button {
        background-color: #7d2ae8;
        color: white;
        display: inline-block;
        width: 48px;
        height: 48px;
        border-radius: 24px;
        line-height: 3;
        font-size: 16px;
        text-align: center;
        cursor: default; }
